*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;
}
body{
    height: 100vh;
}
.container{ 
    width: 380px;
    border-radius: .4rem;
}
.form p{
    font-size: .8rem;
}
.form button{
    cursor: pointer;
}
.hide{
    display: none;
}

/* Clima */

#weather-date{
    border-top: 1px solid #dedada;
}
#weather-date h2 i{
    font-size: 1rem;
}
#details-container #unidity{
    border-right: 1px solid #dededa;
    margin: .6rem;
    padding: .6rem;
}